<h1><%= @task.title %></h1>

<p><strong>Details :</strong> <%= @task.details %></p>
<p><strong>Completed ?</strong> <%= @task.completed ? "yes ✅" : "No ❌" %></p>

<%= link_to "⬅ back to list", tasks_path %>

<%= link_to "Delete",
  task_path(@task),
  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
%>
